@import "tailwindcss";

@theme {
  --color-brand-green: #25D366;
  --color-brand-darkGreen: #128C7E;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Space Mono', monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}